*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    padding: 20px 100px;
    background: rgb(231, 192, 120);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    

}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);


}
.navigation .btnLogin-popup{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}
.LoginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/wall.jpeg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
 
body{
    background-image: url("images/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h2{
    margin-top: 30px;
    font-style: oblique;
    color: darkred;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    margin-left: 33%;
    margin-right: 45%; 
    margin-top: 3%;
    margin-bottom: 5%;
    
}
.wrapper.active-popup {
   transform: scale(1);
}
.wrapper.active { 
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;

}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500; 
    margin: -15px 0 15px;
    display: flex; 
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a {
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn { 
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer; 
    font-size: 1em;
    color: ï¼ƒfff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938; 
    text-align: center; 
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration:underline;
}

#para1{
    color: darkred;
    font-size: 2em;
    font-style: italic;

   
}
.flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-style: italic;
    font: bolder;
    color: darkred;
}
#vid{
    margin-left: 0px;
    margin-top: 50px;
    float: left;
} 
#klam{ 
    font-style: italic;
    font: bolder;
    margin-top: 50px ;
    color: darkred;
}

 #footer{
    background-color: rgb(231, 192, 120);
    border: 10px solid rgb(231, 192, 120);
    
 }
 #copyright{
    font-size: 10px ;
    color: #fff;
    font-weight: bolder;
 }

 .contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto;
    position: relative;
}
.contents.text{
    width: 40%;

   
}
.contents.text h2{
    font-size: 40px;
    
    
}
.contents.text h5{
    font-size: 18px;
    margin: 29px 0;
}
.icons{
    position: absolute;
    bottom: 70px;;
    
}
.icons img{
    width: 75px;
    height:75px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform:scale(1.2);

}

